*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    color:white;
    background:darkslategray;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:#333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    color:white;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover{
    color: blue;
}

.sec1{
    position: relative;
    width: 100%;
    justify-content: space-around;
    height: 100vh;
    background:darkslategray;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px 10% 0;
}

.div1{
    max-width: 600px;
}

.div1 h2{
    font-size: 32px;
    font-weight: 700;
}


.div1 h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.div1 p{
    font-size: 20px;
}

.div2 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #0ef;
    background: transparent;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    margin: 30px 15px 30px 0;
}

.div2 a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px rgb(7, 7, 15);
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 25px cyan,
    0 0 100px cyan,0 0 200px cyan
}

.buttons {
    padding: 50px 0px;
}
.btn {
    padding: 12px 28px;
    background-color: #0ef;
    color: #081b29;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
  }


.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img{
    align-items: center;
    padding-left: 230px;
}
.about-text h2{
        font-size: 60px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services{
    color: aliceblue;
    font-size:20px ;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.sub-title span{
    color: #0ef;
}

.container{
    padding: 90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7
    1px 1px 20px #012290f7;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan ;

}

section{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 26px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}
.radial-bars{
    text-align: center;
}
.bar i{
    align-items: center;
}


#projects{
    color: aliceblue;
    font-size:20px ;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.projects-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition:all 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7
    1px 1px 20px #012290f7;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}


.container3 {

    margin: 0 auto;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}